h1,h2, h3, p{

    color: #fff;
}




.Datetime h2{
    margin: 0;
}


h1 {
    margin: 0;




    font-family: 'Popins', sans-serif;
    font-size: 86px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
}
.Datetime {
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Выстраиваем элементы в столбец */
    justify-content: center; /* Выравниваем по центру по горизонтали */
    align-items: center; /* Выравниваем по центру по вертикали */
    padding-top: 10px;
    background-color: #444;
    padding: 0px 80px;
    border-radius: 1em;
    text-align: center;
    box-shadow: 3px 3px 1px 1px black;
}
