

.Forecast {


    padding: 20px;
    align-items: end;
    margin-top: 50px;
    background-color: #444;
    border-radius: 2em;
    text-align: center;
    box-shadow: 3px 3px 1px 1px black;

}


.Forecast img {
    margin: 0;
    height: 55px;
    width: 55px;
}




.ForItems {
    display: flex;
    align-items: center;
}

.ForItems p {
    font-size: 32px;
    font-weight: bold;

}

.ForItems h3  {

    margin: 15px 25px;
}