.Footer {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    background-color: #2F2F2F;
    margin-top: 120px;
    margin: auto;
    height: 150px;
}

.Footer p {
    text-align: center;

}
